<section>

  <input id="toggle" type="checkbox">
  <label class="side-toggle" for="toggle"><span class="fas fa-bars"></span></label>


  <div class="sidebar">
    <div class="sidebar-menu">
      <span class="fas fa-dashboard"></span>
      <p><a href="#" routerLink="/">Tableau de bord</a></p>


    </div>

    <div class="sidebar-menu">
    <span class="fas fa-users">

    </span>

      <p><a href="#" routerLink="/student-list">Elèves</a></p>
    </div>
    <div class="sidebar-menu">
      <span class="fas fa-id-card"></span>

      <p><a href="#" routerLink="/student_cards">Cartes eleves</a></p>


    </div>

    <div class="sidebar-menu">
      <span class="fas fa-chalkboard-teacher"></span>
      <p><a href="#" routerLink="/teacher-list">Professeur</a></p>
    </div>

    <div class="sidebar-menu">
      <span class="fas fa-users"></span>
      <p><a href="#" routerLink="/user-list">Utilisateur</a></p>

    </div>
    <div class="sidebar-menu">
      <span class="fas fa-user"></span>
      <p><a href="#" routerLink="/role-list">Role</a></p>

    </div>

    <div class="sidebar-menu">
      <span class="fas fa-id-card"></span>

      <p><a href="#" routerLink="/report">rapport</a></p>


    </div>
    <div class="sidebar-menu">
      <p><a href="#">Deconnexion</a></p><span class="fas fa-arrow-right"></span>
    </div>

  </div>

</section>
