<section>


  <div class="table_responsive">

    <h1 class="heading">Student <span>Cards</span></h1>
    <p><a href="#" routerLink="/student_card_create">Nouvelle carte <i class="fas fa-add"></i></a></p>


    <table align='center' border='2' width='50%'>
      <thead>
      <th>Reference</th>
      <th>Date de creation</th>
      <th>Date d'expiration</th>
      <th>Eleve</th>
      <th>ACTIONS</th>
      </thead>
      <tbody>

      <tr>
        <td>001A</td>
        <td>25/10/2023</td>
        <td>29/10/2029</td>
        <td>Marc Aurel</td>
        <td>
             <span class='action_btn'>
                <a href=# onclick="return confirm('Voulez-vous supprimer?')" style='text-decoration: none'>Supprimer</a>


            <a href="#" routerLink="/student_card_edit" style='text-decoration: none'>Modifier</a>
            </span>
        </td>
      </tr>

      <tr>
        <td>002B</td>
        <td>21/05/2022</td>
        <td>29/01/2029</td>
        <td>M TANTANPION</td>
        <td>
             <span class='action_btn'>
                <a href=# onclick="return confirm('Voulez-vous supprimer?')" style='text-decoration: none'>Supprimer</a>


            <a href="#" routerLink="/student_card_edit" style='text-decoration: none'>Modifier</a>
            </span>
        </td>
      </tr>

      </tbody>
    </table>


  </div>


</section>
