<section class="grouper">

  <div class="form-container">
    <h1>Ajouter une Carte</h1>
    <p><a href="#" routerLink="/student_cards">Retour <i class="	fas fa-arrow-circle-right"></i></a></p>
    <form>

      <div class="form-group">
        <label for="Reference"> </label>
        <input id="Reference" name="Reference" placeholder="Reference" type="text">
      </div>
      <div class="form-group">
        <label for="date_creation"> Date de création</label>
        <input id="date_creation" name="date_creation" type="date">
      </div>
      <div class="form-group">
        <label for="date_expiration">Date d'expiration </label>
        <input id="date_expiration" name="date_expiration" type="date">
      </div>
      <div class="form-group">
        <label for="eleve"> </label>
        <input id="eleve" name="Eleve" placeholder="Eleve" type="text">
      </div>
      <div class="form-buttons">
        <button class="cancel-button" type="button">Annuler</button>
        <button class="submit-button" type="submit">Enregistrer</button>
      </div>
    </form>
  </div>

</section>
