<section>


  <div class="table_responsive">

    <h1 class="heading">Les <span>professeurs</span></h1>
    <p><a href="#" routerLink="/teacher-create">Ajouter Professeur <i class="fas fa-add"></i></a></p>


    <table align='center' border='2' width='50%'>
      <thead>
      <th>NOM</th>
      <th>PRENOM</th>
      <th>MATIERE</th>
      <th>VACANT</th>
      <th>AGE</th>
      <th>TELEPHONE</th>
      <th>VILLE</th>
      <th>ACTIONS</th>
      </thead>
      <tbody>

      <tr>
        <td>KOUAKOU</td>
        <td>AYA</td>
        <td>Mathématique</td>
        <td>oui</td>
        <td>68</td>
        <td>03070809</td>
        <td>GAGNOA</td>


        <td>
             <span class='action_btn'>
                <a href=# onclick="return confirm('Voulez-vous supprimer?')" style='text-decoration: none'>Supprimer</a>


            <a href="#" routerLink="/teacher-edit" style='text-decoration: none'>Modifier</a>
            </span>
        </td>
      </tr>

      <tr>
        <td>KAMAGATE</td>
        <td>AWA</td>
        <td>Physique-chimie</td>
        <td>non</td>
        <td>35</td>
        <td>0934567893</td>
        <td>Abidjan</td>

        <td>
             <span class='action_btn'>
            <a href=# onclick="return confirm('Voulez-vous supprimer?')" style='text-decoration: none'>Supprimer</a>



            <a href="#" routerLink="/teacher-edit" style='text-decoration: none'>Modifier</a>
            </span>
        </td>
      </tr>

      </tbody>
    </table>


  </div>


</section>
