<section>


  <div class="table_responsive">

    <h1 class="heading">Les <span>Absences</span></h1>
    <p><a href="#" routerLink="/leave-create">Nouvelle Absence <i class="fas fa-add"></i></a></p>


    <table align='center' border='2' width='50%'>
      <thead>
      <th>Date d'absence</th>
      <th>Eleve</th>
      <th>nombre d'absences</th>
      <th>ACTIONS</th>
      </thead>
      <tbody>

      <tr>
        <td>25/10/2023</td>
        <td>JEAN MARC</td>
        <td>3</td>
        <td>
             <span class='action_btn'>
                <a href=# onclick="return confirm('Voulez-vous supprimer?')" style='text-decoration: none'>Supprimer</a>


            <a href="#" routerLink="/leave-edit" style='text-decoration: none'>Modifier</a>
            </span>
        </td>
      </tr>

      <tr>
        <td>25/10/2023</td>
        <td>AYA MONIQUE</td>
        <td>8</td>
        <td>
             <span class='action_btn'>
                <a href=# onclick="return confirm('Voulez-vous supprimer?')" style='text-decoration: none'>Supprimer</a>


            <a href="#" routerLink="/teacher-edit" style='text-decoration: none'>Modifier</a>
            </span>
        </td>
      </tr>

      </tbody>
    </table>


  </div>


</section>
