<section class="grouper">

  <div class="form-container">
    <h1>Ajouter Professeur</h1>
    <p><a href="#" routerLink="/teacher">Retour <i class="	fas fa-arrow-circle-right"></i></a></p>
    <form>
      <div class="form-group">
        <label for="nom"></label>
        <input id="nom" name="nom" placeholder="nom" type="text">
      </div>
      <div class="form-group">
        <label for="prenom"></label>
        <input id="prenom" name="prenom" placeholder="prenom" type="text">
      </div>
      <div class="form-group gender-group">
        <label><input name="sexe" type="radio" value="homme"> Homme: </label>
        <label><input name="sexe" type="radio" value="femme"> Femme: </label>
      </div>

      <div class="form-group">
        <label for="date_naissance"> </label>
        <input id="date_naissance" name="date_naissance" placeholder="date de naissance" type="date">
      </div>
      <div class="form-group">
        <label for="classe"></label>
        <select id="classe" name="matière">
          <option value="">Sélectionner une matière</option>
          <option value="">Math</option>
          <option value="">Physique</option>
          <option value="">EPS</option>
          <option value="">Anglais</option>
          <option value="">SVT</option>
          <option value="">Philosophie</option>
          <option value="">Francais</option>
        </select>
      </div>
      <div class="form-group">
        <label for="telephone"></label>
        <input id="telephone" name="telephone" placeholder="telephone" type="text">
      </div>
      <div class="form-group">
        <label for="ville"></label>
        <input id="ville" name="ville" placeholder="ville" type="text">
      </div>
      <div class="form-buttons">
        <button class="cancel-button" type="button">Annuler</button>
        <button class="submit-button" type="submit">Enregistrer</button>
      </div>
    </form>
  </div>

</section>
