<section>


  <div class="table_responsive">

    <h1 class="heading"><span>Roles</span></h1>
    <p><a href="#" routerLink="/role-create">Nouveau Role <i class="fas fa-add"></i></a></p>


    <table align='center' border='2' width='50%'>
      <thead>
      <th>Nom</th>
      <th>Date de creation</th>
      <th>ACTIONS</th>
      </thead>
      <tbody>

      <tr>
        <td>admin</td>
        <td>25/10/2023</td>
        <td>
             <span class='action_btn'>
                <a href=# onclick="return confirm('Voulez-vous supprimer?')" style='text-decoration: none'>Supprimer</a>


            <a href="#" routerLink="/role-edit" style='text-decoration: none'>Modifier</a>
            </span>
        </td>
      </tr>

      <tr>
        <td>user</td>
        <td>25/10/2023</td>
        <td>
             <span class='action_btn'>
                <a href=# onclick="return confirm('Voulez-vous supprimer?')" style='text-decoration: none'>Supprimer</a>


            <a href="#" routerLink="/role-edit" style='text-decoration: none'>Modifier</a>
            </span>
        </td>
      </tr>

      </tbody>
    </table>


  </div>


</section>
